/data/a_output/*
!/data/a_output/.gitkeep
/data/b_output/*
!/data/b_output/.gitkeep
/data/c_output/*
!/data/c_output/.gitkeep
/data/d_output/*
!/data/d_output/.gitkeep
/data/e_output/*
!/data/e_output/.gitkeep